{% load static %}
{% block content %}
<style>
    #footer {
        width: 100%;
        position: relative;
        margin-top: 1rem;
        bottom: 0%;
        background-color: white;
    }

    .footer-bottom {
        padding: 1.5rem 0 1rem 0;
    }

    .footer-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        margin-bottom: .5rem;
    }
</style>
<footer id="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="text-center">
                <p>&copy; Copyright <strong>TechInferno Hub</strong>. All Rights Reserved</p>
                <p>Developed by <a href="https://github.com/Rahulnisanth/TechInferno-Hub">QuantumQuotientz</a>
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="footer-icons">

        <a href="https://www.linkedin.com/in/rahul-nisanth-muthu-kumar-9b117b277/">
            <img style="height: 4rem;width: 4rem;" class="avatar avatar__md" src="{% static 'images/rahul-icon.jpg' %}"
                alt="user" />
        </a>

        <a href="https://www.linkedin.com/in/kanika-n-675146277/">
            <img style="height: 4rem;width: 4rem;" class="avatar avatar__md" src="{% static 'images/kanika-icon.jpg' %}"
                alt="user" />
        </a>

        <a href="https://www.linkedin.com/in/kishore-v-687148277/">
            <img style="height: 4rem;width: 4rem;" class="avatar avatar__md"
                src="{% static 'images/kishore-icon.jpeg' %}" alt="user" />
        </a>

        <a href="https://www.linkedin.com/in/prashanth-s-h-b6b144277/">
            <img style="height: 4rem;width: 4rem;" class="avatar avatar__md"
                src="{% static 'images/prashanth-icon.jpeg' %}" alt="user" />
        </a>
    </div> -->
</footer>

{% endblock content %}