{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="auth">
  {% if flag == 'register' %}
  <div class="card" style="margin:60px 0 60px 0;">
    <div class="auth__header text-center">
      <a href="/">
        <img src="{% static 'images/cloud_caster.png' %}" alt="icon" style="width: 70px;" />
      </a>
      <h3>Register Account</h3>
      <p>Hello Developer, Welcome !</p>
    </div>
    <!-- Form Template ================================================= -->
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
      <div class="form__field">
        <label for="formInput#text">{{field.label}}</label>
        {{field}}
        {% if field.errors %}
        {% for error in field.errors %}
        <small style="color: red;">{{error}}</small>
        {% endfor %}
      </div>
      {% endif %}
      {% endfor %}
      <input style="margin: 1em 0 1.5em 0;" class="btn btn--sub btn--lg" type="submit" value="Register" />
    </form>
    <!-- Form Template End -->
    <div class="auth__alternative">
      <p>Already have an Account?</p>
      <a href="{% url 'login_user' %}">Login here!</a>
    </div>
  </div>
  {% else %} <!-- Else condition ============================================= -->
  <div class="card">
    <div class="auth__header text-center">
      <a href="/">
        <img src="{% static 'images/cloud_caster.png' %}" alt="icon" style="width: 70px;" />
      </a>
      <h3>Account Login</h3>
      <p>Hello Developer, Welcome Back!</p>
    </div>
    <form action="" class="form auth__form" method="POST">
      {% csrf_token %}
      <!-- Input:Email -->
      <div class="form__field">
        <label for="formInput#text">Username: </label>
        <input class="input input--text" id="formInput#text" type="text" name="username"
          placeholder="Enter your username..." />
      </div>
      <!-- Input:Password -->
      <div class="form__field">
        <label for="formInput#password">Password: </label>
        <input class="input input--password" id="formInput#passowrd" type="password" name="password"
          placeholder="••••••••" />
      </div>
      <div class="auth__actions">
        <!-- Login button -->
        <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
        <a href="forgetpassword.html">Forget Password?</a>
      </div>
    </form>
    <div class="auth__alternative">
      <p>Don’t have an Account?</p>
      <a href="{% url 'register_user' %}">Register here!</a>
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}