{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
      .profile__preview {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
      }

      #image-preview {
            border-radius: 50%;
            border: 3px dashed var(--color-main);
            object-fit: cover;
            height: 20rem;
            width: 20rem;
      }
</style>
<main class="formPage my-xl">
      <div class="content-box">
            <div class="formWrapper">
                  <a class="backButton" href="{% url 'user-profile' %}"><i class="fa-solid fa-backward"></i></a>
                  <br>
                  <form class="form" method="POST" enctype="multipart/form-data">
                        <!-- Input:Text -->
                        {% csrf_token %}
                        <div class="profile__preview">
                              <img id="image-preview" src="{% if form.instance.profile_picture %}
                                    {{ form.instance.profile_picture.url }}
                                    {% else %}
                                    {% static 'images/default__profile.png' %}
                                    {% endif %}" alt="Image Preview">
                        </div>
                        {% for field in form %}
                        <div class="form__field">
                              <label for="formInput#text">{{field.label}}</label>
                              {{field}}
                        </div>
                        {% endfor %}
                        <input class="btn btn--sub btn--lg  my-md" type="submit" value="Save Changes" />
                  </form>
                  <script>
                        document.addEventListener('DOMContentLoaded', function () {
                              const inputFile = document.querySelector('input[type="file"]');
                              const imagePreview = document.getElementById('image-preview');
                              if (inputFile && imagePreview) {
                                    inputFile.addEventListener('change', function () {
                                          previewImage(this, imagePreview);
                                    });
                              }

                              if (imagePreview) {
                                    previewImage(inputFile, imagePreview);
                              }
                        });
                  </script>
            </div>
      </div>
</main>
{% endblock content %}