{% extends 'index.html' %}
{% block content %}
<style>
      .card {
            margin-top: -50px;
      }

      h6,
      .note {
            color: red;
      }
</style>
<div class="auth">
      <div class="card">
            <h2>Password reset sent</h2>
            <br />
            <p>We've emailed you the instructions for setting your password, if an account exists with the email you
                  entered you should receive them shortly.</p>
            <br />

            <h6>NOTE:</h6>
            <p class="note">
                  If you don't receive any emails, Please make sure that you have entered a valid email or
                  check the spam
                  mails.</p>
      </div>
</div>
{% endblock content %}