{% extends 'index.html' %}
{% block content %}
<!-- Main Section -->
<main class="profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">

            <img class="avatar avatar--xl" src="{{profile.ImageURL}}" />
            <h2 class="dev__name">{{profile.username}}</h2>
            <p class="dev__title">{{profile.job_role}}</p>
            <p class="dev__location">Based in {{profile.location}}</p>

            <!-- SOCIAL-ICONS -->
            <ul class="dev__social">
              {% if profile.github %}
              <li>
                <a title="Github" href="{{profile.github}}" target="_blank"><i class="fa-brands fa-github"></i></a>
              </li>
              {% endif %}
              {% if profile.stackoverflow %}
              <li>
                <a title="Stackoverflow" href="{{profile.stackoverflow}}" target="_blank"><i
                    class="fa-brands fa-stack-overflow"></i></a>
              </li>
              {% endif %}

              {% if profile.linkedin %}
              <li>
                <a title="Linkedin" href="{{profile.linkedin}}" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
              </li>
              {% endif %}

              {% if profile.twitter %}
              <li>
                <a title="Twitter" href="{{profile.twitter}}" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              </li>
              {% endif %}

              {% if profile.website %}
              <li>
                <a title="Personal Website" href="{{profile.website}}" target="_blank"><i
                    class="fa-solid fa-globe"></i></a>
              </li>
              {% endif %}

            </ul>
            {% if request.user.profile.id != profile.id %}
            <a href="{% url 'message-form' profile.id %}" class="btn btn--sub btn--lg">Send Message </a>
            {% else %}
            <a href="{% url 'favorite-list' %}" class="btn btn--sub btn--lg"> Favorites</a>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="column column--2of3">
        <div class="devInfo">
          <h3 class="devInfo__title">About Me</h3>
          <p class="devInfo__about">
            <i class="fa-solid fa-hashtag"></i> {{profile.short_intro}}
            <br />
            <br />
            {{profile.bio|linebreaksbr}}
          </p>
        </div>
        <div class="devInfo">
          <h3 class="devInfo__title">Descriptive Skills</h3>
          <div class="devInfo__skills">
            {% for skill in profile.skill_set.all|slice:":2" %}
            <div class="devSkill">
              <h4 class="devSkill__title">{{skill.name}}</h4>
              <p class="devSkill__info">
                {{skill.description|slice:"300"}}
              </p>
            </div>
            {% endfor %}
            <h3 class="devInfo__subtitle">Other Skills</h3>
            <div class="devInfo__otherSkills">
              {% for skill in profile.skill_set.all %}
              <span class="tag tag--pill tag--sub tag--lg">
                <small>{{skill}}</small>
              </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="devInfo">
          <h3 class="devInfo__title">Projects</h3>
          <div class="grid grid--two">
            <!-- ======== PROJECTS-SECTION ======= -->
            {% for project in profile.project_set.all %}
            <div class="column">
              <div class="card project">
                <a href="{% url 'single-project' project.id %}" class="project">
                  <img class="project__thumbnail" src="{{ project.ImageURL }}" alt="project thumbnail" />
                  <div class="card__body">
                    <h3 class="project__title">{{project.title}}</h3>

                    <p class="project--rating">
                      <span style="font-weight: bold;">{{project.vote_total}}</span>
                      Endorsement{{project.vote_total|pluralize:"s"}}
                    </p>
                    <div class="project__tags">
                      {% for tag in project.tags.all %}
                      <span class="tag tag--pill tag--main">
                        <small>{{tag}}</small>
                      </span>
                      {% endfor %}
                    </div>
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}