{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- Main Section -->
<main class="projects">
  <section class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2><span>PROJECTS</span> ARE PROCESSES</h2>
        <h2></span>PROCESS NEVER <span>ENDS</span>
        </h2>
      </div>
      <div class="hero-section__search">
        <form id="searchForm" class="form" action="#" method="get">
          <div class="form__field">
            <label for="formInput#search">Search By Projects</label>
            <input class="input input--text" id="formInput#search" type="text" name="search_query"
              value="{{search_query}}" placeholder="Search for projects" />
          </div>
          <input class="btn btn--sub btn--lg" type="submit" value="Search" />
        </form>
      </div>
    </div>
  </section>
  <!-- Search Result: DevList -->
  <section class="projectsList">
    <div class="container">
      <div class="grid grid--three">
        {% for project in projects %}
        <div class="column">
          <div class="card project">
            <a href="{% url 'single-project' project.id %}" class="project">
              <img class="project__thumbnail" src="{{project.ImageURL}}" alt="project thumbnail" />
              <div class="card__body">

                <div class="bookmark">
                  <div>
                    <span><i class="fa-solid fa-eye"></i>{{project.view_count}}</span>
                  </div>
                  <div>
                    {% if user in project.favorite.all %}
                    <a href="{% url 'add-favorite' project.id %}"><i class="fa-solid fa-bookmark"></i></a>
                    {% else %}
                    <a href="{% url 'add-favorite' project.id %}"><i class="fa-regular fa-bookmark"></i></a>
                    {% endif %}
                  </div>
                </div>

                <p><a class="project__author" href="{% url 'single-profile' project.owner.id %}">By
                    {{project.owner}} &#8594;</a></p>
                <h3 class="project__title">{{project.domain}}</h3>
                <p>{{project.title}}</p>
                <p class="project--rating">
                  <span style="font-weight: bold;">{{project.vote_total}}</span>
                  Endorsement{{project.vote_total|pluralize}}
                </p>
                <div class="project__tags">
                  {% for tag in project.tags.all|slice:":3" %}
                  <span class="tag tag--pill tag--main">
                    <small>{{tag}}</small>
                  </span>
                  {% endfor %}
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% include 'pagination.html' with queryset=projects custom_range=custom_range %}
</main>
{% endblock content %}