{% extends 'index.html' %}
{% load static %}
{% block content %}
<main class="formPage my-xl">
      <div class="content-box">
            <div class="formWrapper">
                  <a class="backButton" href="{% url 'projects' %}"><i class="fa-solid fa-backward"></i></a>
                  <br>
                  <form class="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Input:Text -->
                        <div class="profile__preview">
                              <img style="max-width: 100% !important;" id="image-preview" src="{% if form.instance.featured_image %}
                                    {{ form.instance.featured_image.url }}
                              {% else %}
                                    {% static 'images/default__blog.jpg' %}
                              {% endif %}" alt="Image Preview">
                        </div>
                        {% for field in form %}
                        <div class="form__field">
                              <label for="formInput#text">{{field.label}}</label>
                              {{field}}
                        </div>
                        {% endfor %}
                        {% if project.tags.all %}
                        <div class="form__field">
                              {% for tag in project.tags.all %}
                              <div class="project-tag tag tag--pill tag--main" data-tag="{{tag.id}}"
                                    data-project="{{project.id}}">
                                    {{tag}} &#215;
                              </div>
                              {% endfor %}
                        </div>
                        {% endif %}
                        <div class="form__field">
                              <label for="formInput#text">Tags</label>
                              <textarea class="input" name="newtags" value="Add the tags here...."></textarea>
                        </div>
                        <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                  </form>
                  <script>
                        document.addEventListener('DOMContentLoaded', function () {
                              const inputFile = document.querySelector('input[type="file"]');
                              const imagePreview = document.getElementById('image-preview');
                              if (inputFile && imagePreview) {
                                    inputFile.addEventListener('change', function () {
                                          previewImage(this, imagePreview);
                                    });
                              }

                              if (imagePreview) {
                                    previewImage(inputFile, imagePreview);
                              }
                        });
                  </script>
            </div>
      </div>
</main>

{% endblock content%}