{% extends 'index.html' %}
{% block content %}
<!-- Main Section -->
<main class="singleProject my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <h3 class="singleProject__subtitle">Tools & Stacks</h3>
        <div class="singleProject__toolStack">
          {% for tag in project.tags.all %}
          <span class="tag tag--pill tag--sub tag--lg">
            <small>{{tag}}</small>
          </span>
          {% endfor %}
        </div>
        <!-- PROJECT lINKS -->
        <div class="project__links">
          {% if project.source_link %}
          <a href="{{project.source_link}}"><i class="fa-brands fa-github"></i></a>
          {% endif %}
          <br />
          {% if project.demo_link %}
          <a href="{{project.demo_link}}"><i class="fa-solid fa-earth-americas"></i></a>
          {% endif %}
        </div>

      </div>
      <div class="column column--2of3">
        {% if project.video %}
        <video class="singleProject__video" controls>
          <source src="{{project.video.url}}" type="video/mp4">
          <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
          Your browser does not support HTML video.
        </video>
        {% else %}
        <img class="singleProject__preview" src="{{project.ImageURL}}" alt="portfolio thumbnail" />
        {% endif %}
        <a href="{% url 'single-profile' project.owner.id %}" class="singleProject__developer"><i
            class="fa-solid fa-code"></i>
          {{project.owner}}</a>

        <h2 class="singleProject__title">{{project.title}}</h2>
        <h3 class="singleProject__subtitle">About the Project <span style="font-size: 15px;text-decoration: none;">(<i
              class="fa-solid fa-eye"></i>
            {{project.view_count}} Views)</span></h3>
        <div class="singleProject__info">
          {{project.description}}
        </div>
        <!-- Comments Starter -->
        <div class="comments">
          <h3 class="singleProject__subtitle">Feedback</h3>
          <!-- REVIEW-SECTION -->
          {% if request.user.profile.id in project.reviewers %}
          <p class="devote__text">Hurray! You have already commented your review for this project.</p>
          {% elif request.user.profile == project.owner %}
          <p class="devote__text">OOPs! You can't comment for your own project.</p>
          {% else %}
          <form class="form" action="" method="POST">
            {% csrf_token %}
            <!-- Textarea -->
            <div class="form__field">
              {% for field in form %}
              <label for="formInput#text">{{field.label}} </label>
              {{field}}
              {% endfor %}
            </div>
            <input class="btn btn--sub btn--lg" type="submit" value="Add Comment" />
          </form>
          {% endif %}
          <!-- END ==== REVIEW-SECTION -->
          {% if project.review_set %}
          <div class="commentList">
            {% for review in project.review_set.all %}
            <div class="comment">
              <a href="{% url 'single-profile' review.owner.id %}">
                <img class="avatar avatar--md" src="{{review.owner.profile_picture.url}}" alt="user" />
              </a>
              <div class="comment__details">
                <a href="{% url 'single-profile' review.owner.id %}"
                  class="comment__author">{{review.owner.username}}</a>
                {% if review.body %}
                <p class="comment__info">
                  {{review.body}}
                </p>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock content %}