{% extends 'index.html' %}
{% block content %}
<main>
    <sec tion class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2><span>ASPIRING </span> INNOVATIONS
                </h2>
                <h2>COMES UNDER <span>BLOGPAGE</span>
                </h2>
            </div>
            <div class="hero-section__search">
                <form id="searchForm" class="form" action="" method="GET">
                    {% csrf_token %}
                    <div class="form__field">
                        <label for="formInput#search">Search Blog posts </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            value="{{search_query}}" placeholder="Search with author names, posted year & titles" />
                    </div>
                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>
            </div>
        </div>
    </sec>
    <section class="projectsList">
        <div class="container">
            <div class="total-grid">
                <!-- Left blogs -->
                <div class="grid grid--three">
                    {% for blog in blogs %}
                    <div class="column">
                        <div class="card project">
                            <a href="{% url 'single-blog' blog.id %}" class="project">
                                <img class="project__thumbnail" src="{{blog.ImageURL}}" alt="project thumbnail" />
                                <div class="card__body">
                                    <div style="margin-top: -4rem;" class="blog--header-single">
                                        <div class="left">
                                            <a href="{% url 'single-profile' blog.owner.id %}">
                                                <img style="height: 3.5rem;width: 3.5rem;" class="avatar avatar__md"
                                                    src="{{blog.owner.profile_picture.url}}" alt="user" />
                                            </a>
                                            <a class="project_title" href="{% url 'single-profile' blog.owner.id %}">
                                                {{blog.owner}}</a>
                                        </div>
                                    </div>
                                    <p>{{blog.description | slice:"100"}} . . .<span class="card__span"> see more</span>
                                    </p>
                                    <div style="padding: 1rem 0 1rem 0;" class="created">
                                        <span style="color: var(--color-main); font-size: small;">
                                            <small>{{blog.created}}</small>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include 'pagination.html' with queryset=blogs custom_range=custom_range %}
    </section>
</main>
{% endblock content %}