{% extends 'index.html' %}
{% block content %}
<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--3of3">
                <div class="image--preview">
                    <img class="singleProject__preview" src="{{blog.featured_image.url}}" alt="portfolio thumbnail">
                </div>
                <div class="blog--header">
                    <div class="left">
                        <a href="{% url 'single-profile' blog.owner.id %}">
                            <img style="height: 4rem;width: 4rem;" class="avatar avatar__md"
                                src="{{blog.owner.profile_picture.url}}" alt="user" />
                        </a>
                        <a class="project_title" href="{% url 'single-profile' blog.owner.id %}">
                            {{blog.owner}}</a>
                    </div>
                    <div class="right">
                        <a href="{% url 'like-blog' blog.id %}" style="text-decoration: none; margin-right: 1rem;">
                            {% if request.user.profile in blog.like.all %}
                            <i class="fa-solid fa-thumbs-up"></i> {{ blog.like.count }}
                            {% else %}
                            <i class="fa-regular fa-thumbs-up"></i> {{ blog.like.count }}
                            {% endif %}
                        </a>
                    </div>
                </div>
                <h2 class="singleProject__title">{{blog.title}}</h2>
                <h3 style="margin-top: -10px;" class="singleProject__subtitle"> Blog Description </h3>
                <div class="singleProject__info">
                    {{blog.description | linebreaksbr}}
                </div>
                <!-- COMMENTS STARTER -->
                <div class="comments">
                    {% if request.user.profile.id in blog.reviewers %}
                    <p class="devote__text">Hurray! You have already commented for this blog post.</p>
                    {% elif request.user.profile == blog.owner %}
                    <p class="devote__text">OOPs! You can't comment for your own blog.</p>
                    {% else %}
                    <form class="form" action="{% url 'single-blog' pk=blog.id %}" method="POST">
                        {% csrf_token %}
                        <!-- Textarea -->
                        <div class="form__field">
                            {% for field in form %}
                            <label for="formInput#text">{{field.label}} </label>
                            {{field}}
                            {% endfor %}
                        </div>
                        <input class="btn btn--sub btn--sm" type="submit" value="Add Comment" />
                    </form>
                    {% endif %}
                    <!-- Comments Section -->
                    {% if blog.comment_set %}
                    <div class="commentList">
                        {% for comment in blog.comment_set.all %}
                        <div class="comment">
                            <a href="{% url 'single-profile' comment.owner.id %}">
                                <img class="avatar avatar--md" src="{{comment.owner.profile_picture.url}}" alt="user" />
                            </a>
                            <div class="comment__details">
                                <a href="{% url 'single-profile' comment.owner.id %}"
                                    class="comment__author">{{comment.owner.username}}</a>
                                {% if comment.body %}
                                <p class="comment__info">
                                    {{comment.body}}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}